@model newdip.Models.ApplicationUser

@{
    ViewBag.Title = "Предоставить права";
}
    <body class="container body-content">
        <h2 style="text-align:center">@ViewBag.Title</h2>

        <h3 style="text-align:center">Вы уверены, что хотите предоставить этому пользователю права администратора?</h3>
        <div>

            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Имя пользователя:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.UserName)
                </dd>

                <dt>
                    Почта пользователя:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Предоставить" class="btn btn-default" /> |
                    @Html.ActionLink("К списку пользователей", "Index")
                </div>
            }
        </div>
        </body>