@model newdip.Models.Worker

@{
    ViewBag.Title = "Удалить";
}
<body class="container body-content">

    <h3 style="text-align:center">Вы уверены что хотите удалить выбранного работника?</h3>
    <div>
        <h4>Работник</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Фамилия
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                Имя
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SecondName)
            </dd>

            <dt>
               Отчество
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                Должность
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                Дополнительная информация
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Details)
            </dd>

            <dt>
               Почта
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
               Телефон
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("К списку работников", "Index")
            </div>
        }
    </div>
    </body>