@model newdip.Models.Worker

@{
    ViewBag.Title = "Подробнее";
}

    <body class="container body-content">
        <div>
            <h4 style="text-align:center">Информация о рабочем</h4>
            <hr />
            <dl class="dl-horizontal">
                
                <dt>
                    Фамилия
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    Имя
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SecondName)
                </dd>

                <dt>
                    Отчество
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    Должность
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    Дополнительная информация
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt>
                    Почта
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>


                <dt>
                    Телефон
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Phone)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("К списку работников", "Index")
        </p>
        </body>