@model IEnumerable<newdip.Models.Worker>

@{
    ViewBag.Title = "Работники";
}
<body class="container body-content">
    <h2 style="text-align:center">Список Работников</h2>

    <p>
        @if (User.IsInRole("Admin")) {@Html.ActionLink("Добавить работника", "Create")}
    </p>
    <table class="table">
        <tr>
            <th>
                Номер аудитории
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Имя
            </th>
            <th>
                Отчество
            </th>
            <th>
                Должность
            </th>
            <th>
                Почта
            </th>
            <th>Действия над информацией о работнике</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SecondName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.ActionLink("Подробно", "Details", new { id = item.Id })
                    @if (User.IsInRole("Admin"))
                    {@Html.ActionLink("Изменить", "Edit", new { id = item.Id })}
                    @if (User.IsInRole("Admin")) {@Html.ActionLink("Удалить", "Delete", new { id = item.Id })}
                </td>
            </tr>
        }

    </table>
    </body>
