@model newdip.Models.Room

@{
    ViewBag.Title = "Удаление";
}
<body class="container body-content">

    <h3 style="text-align:center">Вы уверены что хотите удалить это помещение</h3>
    <div>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                Имя помещения
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
               Описание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Расписание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Timetable)
            </dd>

            <dt>
                Телефон
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
                Почта
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Site)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("К списку помещений", "Index")
            </div>
        }
    </div>
    </body>
