@model newdip.Models.Room

@{
    ViewBag.Title = "Подробнее";
}
<body class="container body-content">
    <h2 style="text-align:center">Информация о помещении</h2>

    <div>
        <hr />
        <dl class="dl-horizontal">

            <dt>
Имя помещения
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
               Описание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
               Расписание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Timetable)
            </dd>

            <dt>
               Телефон
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>

            <dt>
            Почта
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Site)
            </dd>

        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.RoomId }) |*@
        @Html.ActionLink("К списку помещений    ", "Index")
    </p>
    </body>
