@model newdip.Models.Floor

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Floor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Building.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Building.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
