@model newdip.Models.Building

@{
    ViewBag.Title = "Удаление";
}

<body class="container body-content">
    <h3 style="text-align:center">Вы уверены что хотите удалить выбранное здание</h3>
    <div>
        <h4>Здание</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Имя здания
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Адрес
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Addrees)
            </dd>

            <dt>
                Описание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Почта
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Site)
            </dd>

            <dt>
                Расписание
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TimeTable)
            </dd>

        </dl>
        
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-default" /> |
                @Html.ActionLink("К списку зданий", "Index")
            </div>
        }
    </div>
    </body>
