@model newdip.Models.Building

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Building</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Addrees)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Addrees)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeTable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeTable)
        </dd>
        <dt style="margin-right:20px;">
            @Html.DisplayNameFor(model => model.Floors)
        </dt>

        
        @foreach (var element in Model.Floors)
        {
            
        
                
                <td>
                     @Html.DisplayFor(modelItem => element.Level)
                </td>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit building", "Edit", new { id = Model.BuildingId }) |
    @Html.ActionLink("Add Floor to building", "Create","Floors", new { id = Model.BuildingId }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>
