@model newdip.Models.Building

@{
    ViewBag.Title = "Подробно";
}
    <body class="container body-content">
        <div>
            <h4 style="text-align:center">Здание</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    Имя здания
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    Адрес
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Addrees)
                </dd>

                <dt>
                    Описание
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Почта
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Site)
                </dd>

                <dt>
                    Расписание
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TimeTable)
                </dd>
                <dt style="margin-right:20px;">
                    Список этажей
                </dt>


                @foreach (var element in Model.Floors)
                {



                    <td>
                        @Html.DisplayFor(modelItem => element.Level)
                    </td>
                }

            </dl>
        </div>
        <p>
            @Html.ActionLink("Изменить информацию о здании", "Edit", new { id = Model.BuildingId }) |
            @Html.ActionLink("Добавить этаж", "Create", "Floors", new { id = Model.BuildingId }, null) |
            @Html.ActionLink("К списку зданий", "Index")
        </p>
        </body>