@model IEnumerable<newdip.Models.Building>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Addrees)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Site)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTable)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Addrees)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Site)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTable)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.BuildingId }) |
            @Html.ActionLink("Details", "Details", new { id = item.BuildingId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BuildingId }) |
            @Html.ActionLink("Plan", "Plan", new { id = item.BuildingId })
        </td>
    </tr>
}

</table>
