@model IEnumerable<newdip.Models.Building>

@{
    ViewBag.Title = "Index";
}
    <body class="container body-content">
        <h2 style="text-align:center">Список зданий</h2>
        <p>
            @if (User.IsInRole("Admin")) {@Html.ActionLink("Создать новое здание", "Create")}
        </p>
            <table class="table">
                <tr>
                    <th>
                        Название
                    </th>
                    <th>
                        Адрес
                    </th>
                    <th>
                        Описание
                    </th>
                    <th>
                        Почта
                    </th>
                    <th>
                        Расписание
                    </th>
                    <th>Список действий</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Addrees)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a href="@Html.DisplayFor(modelItem => item.Site)">@Html.DisplayFor(modelItem => item.Site)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TimeTable)
                        </td>
                        <td>
                                @Html.ActionLink("Подробно", "Details", new { id = item.BuildingId })
                            @if (User.IsInRole("Admin"))
                            {
                                @Html.ActionLink("Изменить", "Edit", new { id = item.BuildingId })}

                            @if (User.IsInRole("Admin")){
                            @Html.ActionLink("Удалить", "Delete", new { id = item.BuildingId })
                            }
                            @if (User.IsInRole("Admin")) { 
                                @Html.ActionLink("План здания", "Plan", new { id = item.BuildingId })
                            }
                        </td>
                    </tr>
                }

            </table>
            </body>