@model newdip.Models.Building

@{
    ViewBag.Title = "MapRedactor";
}

<html lang="en">
<head>
    <meta charset="utf-8">

    <style>
        #container {
            position: relative;
            top: 1px;
        }

        #imageView {
            border: 1px solid #000;
        }

        #imageTemp {
            position: absolute;
            top: 1px;
            left: 1px;
        }
    </style>
</head>
<body>
    <br>
    <div style="padding-left:15px;">

        <label>
            Drawing tool:
            <select id="dtool">
                <option value="line">Line</option>
                <option value="rect">Rectangle</option>
                <option value="moveimg">Move</option>
                <option value="info">RoomInfo</option>
            </select>
        </label>
        <label id="centerx"></label><label>,</label><label id="centery"></label>
        <label style="visibility:hidden" id="BuildingId">@Model.BuildingId</label>

    </div>
    @*<input type="range" height="1" max="100" min="0">*@
    <div style="padding-left:10px;">
        <div id="first" class="col-lg-1">

                <select size="33" style="width:90px; height:553px;" id="spisok">
                    @foreach (var element in Model.Floors)
                    {
                        <option title="@Model.Name">
                            @element.Level Этаж
                        </option>
                    }
                </select>

        </div>
        <div id="second" class="col-lg-8">
            @*@{Html.RenderAction("RenderList",new {Id = Model.Id,level = Model.Floors[0]}); }*@
            @*   @{Html.RenderPartial("PartialListPoints");}*@
            <div id="container" width="800" height="550">

                <canvas id="imageView" width="800" height="550">
                    @*<p>Unfortunately, your browser is currently unsupported by our web application. We are sorry for the inconvenience. Please use one of the supported browsers listed below, or draw the image you want using an offline tool.</p>*@
                    @* <p>Supported browsers: <a href="http://www.opera.com">Opera</a>, <a href="http://www.mozilla.com">Firefox</a>, <a href="http://www.apple.com/safari">Safari</a>, and <a href="http://www.konqueror.org">Konqueror</a>.</p>*@
                </canvas>
                <canvas id="imageTemp" on width="800" height="550"></canvas>
            </div>
        </div>
        <div id="third" class="col-lg-3">
            <div id="room" style="border:1px solid #000; margin-left:30px; height:552px; top:4px; ">
                <div class="form-horizontal">
                    <h4 style="text-align:center;">Room</h4>
                    <hr/>
                    @*@Html.HiddenFor(model => model.RoomId)*@
                    
                        <div class="form-group" style="margin-left:40px;margin-bottom:3px;" >
                            <label>Номер этажа:</label>
                            <label id="Floorlevel"></label>
                            <label style="visibility:hidden;" id="FloorId"></label>
                            <label style="visibility:hidden;" id="RoomId"></label>
                            @*(model => model.FloorId, "FloorId", htmlAttributes: new { @class = "control-label col-md-2" })*@
                            @*@Html.DropDownList("FloorId", null, htmlAttributes: new { @class = "form-control" })*@
                            @*@Html.ValidationMessageFor(model => model.FloorId, "", new { @class = "text-danger" })*@
                        </div>
                    
                        <div class="form-group" style="margin-left:40px;">
                            <label>Имя помещения:</label>
                            <br>
                            <input type="text" id="Name" placeholder="Введите имя" size="15" style="width:200px;" />
                            @*@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>*@
                        </div>
                    
                        <div class="form-group" style="margin-left:40px;">
                            <label>Описание:</label>
                            <textarea type="text" id="Description" placeholder="Введите описание" size="15" rows="3" cols="27"></textarea>
                            @*@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>*@
                        </div>

                    


                        <div class="form-group" style="margin-left:40px;">
                            <label>Расписание:</label>
                            <br>
                            <textarea type="text" id="Timetable" placeholder="Введите расписание" size="15" rows="5" cols="27"></textarea>
                            @*@Html.LabelFor(model => model.Timetable, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Timetable, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Timetable, "", new { @class = "text-danger" })
                                </div>*@
                        </div>
                    
                        <div class="form-group" style="margin-left:40px;">
                            <label>Телефон:</label>
                            <input type="text" id="Phone" placeholder="Введите телефон" size="15" />
                            @*@Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                </div>*@
                        </div>
                    
                        <div class="form-group" style="margin-left:40px;">
                            <label>Почта:</label>
                            <input type="text" id="Mail" placeholder="Почту" size="15" style="width:160px;"/>
                            @*@Html.LabelFor(model => model.Site, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Site, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Site, "", new { @class = "text-danger" })
                                </div>*@
                        </div>

                        <div class="form-group" style="text-align:center">
                            <div class="col-md-12">
                                <input type="submit" value="Save" id="Change" class="btn btn-default"
                                       onclick="Button()"/>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>
    @*<script>
        window.onload = init;

        function init() {
            var button = document.getElementById("Change")
            button.onclick = handleButtonClick;
        }

        function handleButtonClick() {
            alert("Вы нажали на кнопку");
        }
    </script>*@
    <script type="text/javascript" src="~/Scripts/myscript.js"></script>
    @*<script type="text/javascript" src="~/Scripts/onchange.js"></script>*@
</body>
</html>


